file-connect-write-app/src/main/mule/file-connect-write-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b3242823-1860-4bb0-9e51-40f37e3f6340" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="file-connect-write-appFlow" doc:id="dc318302-35af-42a6-9e53-ead736433837" >
		<http:listener doc:name="Listener" doc:id="46b29f33-bf0f-4504-882a-adedaf7703ba" config-ref="HTTP_Listener_config" path="/filewrite"/>
		<ee:transform doc:name="Transform Message" doc:id="bdb71c7d-584b-46ca-a1f2-e2379e44d706" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="a365462a-db7d-4073-817b-8b8a34244ece" path="C:\Users\evsanche\Documents\Evelyn\project\Udemy\workspace\file-connect-write-app\src\main\resources\write"/>
		<logger level="INFO" doc:name="Logger" doc:id="5a22b077-9e9a-4871-9a6a-568ad29c522f" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="8f8cafe0-48b0-4db6-bcb2-b1b244ccb63a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message:"The file has been successfully written"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
